<suite name="Mytestsuite">
<parameter name="browser" value="Chrome"></parameter>
	<listeners>
		<listener class-name="listeners.Listeners"> 
			 </listener>
		</listeners>
	<test threadcount="3" name="myTest">
		
		<classes>
			
<class name="testcase.LoginTest"></class>

 

		</classes>
		
	</test>
</suite>